<h4>Conversion Details </h4>

<table class="table">
    <tr>
        <td>ID</td>
        <td>{{model.id}}</td>
    </tr>
    <tr>
        <td>Reference</td>
        <td>{{model.shortReference}}</td>
    </tr>
    <tr>
        <td>Settlement Date</td>
        <td>{{model.settlementDate}}</td>
    </tr>
    <tr>
        <td>Conversion Date</td>
        <td>{{model.conversionDate}}</td>
    </tr>
    <tr>
        <td>Buy</td>
        <td>{{model.buyCurrency}} {{model.clientBuyAmount}}</td>
    </tr>
    <tr>
        <td>Sell</td>
        <td>{{model.sellCurrency}} {{model.clientSellAmount}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{model.status}}</td>
    </tr>

</table>